# Logistic Regression on Simulated Data

In this first approach we create a Logistic Regression Model as a baseline classification. We only consider two types of classes "no fault" and "crack".

The approach is the following
1. Import the currently generated data and split it into features and target.
2. Train a logistic regression model on the data.
3. Automate the data generation and import of that data, experiment with different order of magnitude relations between baseline vibration and fault vibration.

### Import and preprocess data

In [44]:
import os
import pandas as pd
import numpy as np

In [9]:
data_path = os.path.join(os.path.pardir, "trainproject_data_gen")
data_path

no_f_df = pd.read_csv(os.path.join(data_path,'new.csv'))
crack_df = pd.read_csv(os.path.join(data_path,'newf1.csv'))

In [34]:
df = pd.concat([no_f_df, crack_df], axis=0).drop(columns=['Unnamed: 0'])
df.shape

(200, 188)

In [23]:
target_columns = ['fault_type', 'fault_dis', 'fault_severity']

In [35]:
X = df.drop(columns=target_columns)
y = df[target_columns]

In [36]:
X.head()

,0_200,0_500,0_800,1_200,1_500,1_800,2_200,2_500,2_800,3_200,...,58_500,58_800,59_200,59_500,59_800,60_200,60_500,60_800,train_weight,train_speed
0,7.277163,1.041102,0.395840,8.902663,1.120939,0.414157,11.140477,1.210324,0.433776,14.341716,...,1.108982,0.411463,10.772222,1.196914,0.430889,13.805625,1.295733,0.451723,6925,35
1,4.822479,0.692274,0.263420,5.860793,0.743705,0.275242,7.274447,0.801087,0.287878,9.268825,...,0.653822,0.254247,4.984568,0.700955,0.265450,6.078513,0.753374,0.277411,4750,34
2,4.359172,0.604489,0.228184,5.675378,0.664224,0.241658,7.691914,0.733271,0.256361,11.010523,...,3.384864,0.548071,9.591389,4.262840,0.599462,6.849633,5.532607,0.658435,3139,44
3,5.288889,0.743750,0.281657,6.693750,0.809830,0.296676,8.742857,0.885124,0.312929,11.900000,...,1.673437,0.445786,171360.000000,1.904000,0.476000,428.400000,2.185714,0.509394,4284,40
4,13.139311,1.828459,0.690767,16.984381,2.004549,0.730562,22.801868,2.207358,0.773898,32.213604,...,7.811727,1.481980,51.684938,9.493152,1.609566,33.674355,11.782198,1.754365,9736,43

In [38]:
squared_data = data.map(lambda x: x**2)

fault_dict = {np.nan}

fault_type        object
fault_dis          int64
fault_severity     int64
dtype: object

AttributeError: module 'pandas' has no attribute 'nnan'